### ordinal encoding

In [4]:
 import pandas as pd

In [6]:
df = pd.read_csv(r"C:\Users\Gaurav\Downloads\ordinal_dataset.csv")
df.head()

  Education_Level Job_Satisfaction Performance_Rating
0        Bachelor      Unsatisfied               High
1           Ph.D.          Neutral             Medium
2          Master        Satisfied             Medium
3        Bachelor          Neutral               High
4     High School      Unsatisfied               High

In [12]:
# check the categores performanc_rating colum
df['Performance_Rating'].value_counts()

Performance_Rating
Medium         104
High            68
Low             55
Outstanding     23
Name: count, dtype: int64

In [14]:
df_rating = df[['Performance_Rating']]

In [16]:
# create a dicrionary for assifning the value for order of ranking
dct1 = {'Outstanding': 4,
       'High':         3,
       'Medium':       2,
       'Low':          1}

In [18]:
dct1

{'Outstanding': 4, 'High': 3, 'Medium': 2, 'Low': 1}

In [20]:
df_rating = df['Performance_Rating'].map(dct1)

df_rating

0      3
1      2
2      2
3      3
4      3
      ..
245    3
246    2
247    2
248    4
249    3
Name: Performance_Rating, Length: 250, dtype: int64

In [24]:
df['Performance_Rating'] = df['Performance_Rating'].map(dct1)

In [26]:
df.head()

  Education_Level Job_Satisfaction  Performance_Rating
0        Bachelor      Unsatisfied                   3
1           Ph.D.          Neutral                   2
2          Master        Satisfied                   2
3        Bachelor          Neutral                   3
4     High School      Unsatisfied                   3

In [28]:
df['Education_Level'].value_counts()

Education_Level
Bachelor       93
High School    82
Master         49
Ph.D.          26
Name: count, dtype: int64

In [76]:
df_level = df[['Education_Level']]

In [66]:
dct2 = {'Bachelor ': 4,
       'High School':          3,
       'Master':       2,
       'Ph.D.':          1}

In [78]:
dct2

{'Bachelor ': 4, 'High School': 3, 'Master': 2, 'Ph.D.': 1}

In [82]:
df_level = df['Education_Level'].map(dct2)

df_level

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
245   NaN
246   NaN
247   NaN
248   NaN
249   NaN
Name: Education_Level, Length: 250, dtype: float64

In [72]:
df['Education_Level'] = df['Education_Level'].map(dct2)

In [74]:
df.head()

   Education_Level Job_Satisfaction  Performance_Rating
0              NaN      Unsatisfied                   3
1              NaN          Neutral                   2
2              NaN        Satisfied                   2
3              NaN          Neutral                   3
4              NaN      Unsatisfied                   3