### PCA - Dimentioanality Reduction Technique

In [3]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv(r"C:\Users\Gaurav\Downloads\diabetes.csv")

In [9]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [11]:
# chack the shape of the data
df.shape

(768, 9)

### Split the dataset into input and output

In [14]:
# input data
X = df.drop(columns = ['Outcome'])
X.shape

(768, 8)

In [16]:
# output Data
y = df[['Outcome']]

In [18]:
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

### PCA only works on the input features, it reduces the dimensions

##### First we Normalize our data, or scale the input data

In [24]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc = StandardScaler()

In [28]:
new_df = sc.fit_transform(X)

In [30]:
new_df

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [32]:
new_df = pd.DataFrame(new_df)
new_df

,0,1,2,3,4,5,6,7
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496
...,...,...,...,...,...,...,...,...
763,1.827813,-0.622642,0.356432,1.722735,0.870031,0.115169,-0.908682,2.532136
764,-0.547919,0.034598,0.046245,0.405445,-0.692891,0.610154,-0.398282,-0.531023
765,0.342981,0.003301,0.149641,0.154533,0.279594,-0.735190,-0.685193,-0.275760
766,-0.844885,0.159787,-0.470732,-1.288212,-0.692891,-0.240205,-0.371101,1.170732
767,-0.844885,-0.873019,0.046245,0.656358,-0.692891,-0.202129,-0.473785,-0.871374

### since our data is normalized , now we can go ahead for PCA

In [35]:
from sklearn.decomposition import PCA

In [37]:
pca = PCA(n_components = 5)

In [39]:
# now we are creating new dataframe having PCA transformed data
# by giving new_df normalized data
new_df_pca = pca.fit_transform(new_df)

In [41]:
# now are data dimentions has reduced , we can check with dataframe
new_df_pca = pd.DataFrame(new_df_pca)

In [43]:
new_df_pca

            0         1         2         3         4
0    1.068503  1.234895  0.095930  0.496990 -0.109985
1   -1.121683 -0.733852 -0.712938  0.285056 -0.389507
2   -0.396477  1.595876  1.760678 -0.070395  0.906474
3   -1.115781 -1.271241 -0.663729 -0.579123 -0.356060
4    2.359334 -2.184819  2.963107  4.033099  0.592684
..        ...       ...       ...       ...       ...
763  1.562085  1.923150 -0.867408 -0.390926 -2.541527
764 -0.100405 -0.614181 -0.764353 -0.134859  0.499290
765 -0.283475  0.097065 -0.077192 -0.687561 -0.523009
766 -1.060324  0.837062  0.425030 -0.204493  0.957593
767 -0.839892 -1.151755 -1.009178  0.086929 -0.082651

[768 rows x 5 columns]

In [45]:
new_df_pca.shape

(768, 5)

### Task : put the newly input data ----> new_df_pca and output data ---->y , and apply random forest classifier